*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul,ol {
    margin: 0;
    padding-left: 0;
}
img {display: block;}

.container {
        max-width: 1440
        padding-left:  ;
        padding-right: ;
        margin-left:  
        margin-right: 
                }
.header-menu {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: center;
    flex-shrink: 0;
}



body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

ul { list-style: none; }
a { text-decoration: none;}
.logo-title,
.footer-logo  {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-style: normal;
    text-transform: uppercase;

   
}
.logo-text-nav {
    color: #2E2F42;
}
.logo-text {
    color: #f4f4fd;}

    .nav-menu {
       color: #2E2F42;
        font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.32px;
    }
    .nav-menu:focus,
    .nav-menu:hover {
        color: #404bbf;
    }

    .adress-text {
        font-style: normal;
    }
.adress-menu {
    color: #434455;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;

}
.adress-menu:hover,
.adress-menu:focus
{
    color: #404bbf;
} 
 
.hero-section {
    background-color: #2E2F42;
}  
.hero-text {
    color:  #FFF;
    text-align: center;
    font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 1.12px;}

.hero-section-menu {
    height: 600;
    margin-top: 188;
    margin-bottom: 262;
}

   .hero-button {
    color: #FFF;
    background: #4D5AE5;
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.64px;  
cursor: pointer;
align-items: center;

display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
}
.hero-button:hover,
.hero-button:focus 
{    background-color: #404BBF;}
 
.section-title {
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
}
.section-text {
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}
.team-section {
    background-color: #F4F4FD;
}
.team-item {
    background-color: #FFFFFF;
}
.team-title,
.portfolio-title {
   
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
}
.portfolio-item {
    background-color: #FFFFFF;
}
.team-name,
.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
}
.team-profession,
.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.32px;
}
.footer-section {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
}
.footer-logo {
    color: #4d5ae5;
}
